// Variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$black: #000;
$light: $gray-200;

// Color system
$theme-colors: (primary: #ec8447,
  calls: #00cfd2,
  contacts: #aba9b4,
  donations: #26a69a,
  events: #f7cd6b,
  grants: #f7928e,
  groups: #3891a6,
  forms: #fe7044,
  stories: #ef4e6d,
  memberships: #c6e1a5,
  tax-returns: #6495ed);
// Options

$enable-caret: true;

// Spacing
$spacer: 0.89rem;
$sizes: (10: 10%,
  25: 25%,
  50: 50%,
  75: 75%,
  90: 90%,
  100: 100%);

// Body

// Links

// Paragraphs

// Grid breakpoints

// Grid containers
$container-max-widths: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Grid columns

$grid-gutter-width: 2.75rem;

// Components

// Transitions
$transition-collapse: height 0.55s ease;

// Fonts
$font-size-base: 1rem;
$font-family-sans-serif: "Avenir",
"Muli",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$headings-font-weight: 400;
$small-font-size: 80%;

// Tables

// Buttons
$btn-font-weight: 600;
$input-btn-padding-y: 1.0945rem; // border (1/16 * 2px + difference 1rem - bnt font size)
$btn-line-height-sm: normal;

// Allows for customizing button radius independently from global border radius

// Forms

$form-group-margin-bottom: $grid-gutter-width / 2;
$input-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
$custom-file-text: (en: "Browse") !default;
$input-padding-y: 1rem;
$input-padding-x: 1rem;
// $input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-sm: 0.313rem;
$form-text-margin-top: 0.5rem;

// Form validation

// Dropdowns
$dropdown-item-padding-y: 0.5rem;
// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// Navs
$nav-link-padding-y: 0.75rem;

// Navbar
$navbar-padding-y: $spacer;
$navbar-toggler-padding-x: 0;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;

// Pagination

// Jumbotron

// Cards
$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;

// Tooltips

// Popovers

// Badges
$badge-padding-y: 0.5rem;
// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Close

// Code

// Exports
:export {
  themecolors: {
    primary: #ec8447;
    calls: #00cfd2;
    contacts: #aba9b4;
    donations: #26a69a;
    events: #f7cd6b;
    grants: #f7928e;
    groups: #3891a6;
    forms: #fe7044;
    stories: #ef4e6d;
    memberships: #c6e1a5;
    tax-returns: #6495ed;
  }
}